@import '../../variables';

.social-wrapper {
    background-color: $white;
    width: 100%;
    height:  80px;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 1fr;

    .icons-wrapper {
        background:  linear-gradient(99deg,  rgba(249,195,7,1) 0%,rgba(247,7,63,1) 150%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .info-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        p {
            color: $text-color;
        }
    }
}
