@import '../../variables';

.header-wrapper {
    background-color: $white;
    width: 100%;
    height:  100px;
    display: grid;
    grid-template-rows: 5px 1fr;
    border-radius: 10px;
    overflow: hidden;
    
    .top-border {
        border-radius: 10px;
        height: 5px;
        background: linear-gradient(99deg, rgba(247,7,63,1) 0%, rgba(249,195,7,1) 150%);
    }
}

.menu-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu-item {
    min-width: 100px;
    max-width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open-sans', sans-serif;
    font-size: 18px;
    color: $text-color;
    cursor: pointer;

    p {
        margin-right: 5px;;
    }
}

.fabric {
    color: $primary;
}

.logo-image {
    margin-left: 10px;
}
